*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #252525;
    z-index: -1;
    opacity: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.moneyzinho {
    width: 400px; 
}


.img-moneyzinho {
    width: 400px;
    margin-left: 350px;
}

main {
    width: 375px;
    background: #F2F3DB;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px;
    position: relative;
}

label {
    color: #252525;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background-color: #ffffff;
    border: 0.5px solid #252525;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;    
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;

}

input {
    cursor: auto;
}

button {
    color: #F2F3DB;
    background: #252525;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    border: none;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: #EDA501;
}

button:active{
    opacity: 0.6;
}

section {
    border: 1px solid #252525;
    border-radius: 20px;
    padding: 12px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;
    height: 80px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #252525;
    font-size: 14px;
    font-weight: 400;
} 

.currency-value, .currency-value-to-convert {
    font-weight: 700;
    font-size: 20px;
}

video{
    top: 0;
    z-index: -1;
    
    position: fixed;
    opacity: 50%;
}

@media screen and (max-width: 1080px){

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .moneyzinho{
        display: block;
        margin: 0;
        width: auto;
    }
    .img-moneyzinho{
        display: block;
        margin: 0;
        width: auto;
    }

    video{
        opacity: 0;
    }
    
    body {
        background-color: #131313;
    }
    
}

